body {
	font-family: arial, gil-sans, sans-serif;
	font-size: smaller;
	line-height: 140%;
}

#main {
	height: 1%;
	overflow: auto;
}

#header {
	height: 35px;
}

.headerBar {
	background-color: #9E0B0F;
	height: 20px;
}

#footer {
	background-color: #9E0B0F;
	height: 20px;
	margin-top: 15px;
}

#main, #header, #footer {
	width: 900px;
	margin: auto;
}

#content {
	float:	right;
	width:	750px;
}

#bodycopy {
	/* float: right; */
	width: 652px;
}

#sidebar {
	/* float: left; */
	margin-right: 640px;
	/*
	position: fixed;
	left: 10px;
	top:  40px;
	*/
}

#footer {
	clear: both;
}

ul {
	list-style-type: none;
}

a:link {
	color: #9E0B0F;
    text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
	
a:active {
	text-decoration:underline;
}

td {
  vertical-align: top;
  padding-bottom: 8px;
  padding-left: 4px;
}

.label {
	width: 120px;
}

.className {
	font-weight: bold;
}

.attributeName {
	font-weight: bold;
}

.typeName {
	font-weight: bold;
}

.sliceName {
	font-weight: bold;
}

.valueType {
    float: left;
    width: 60px;
}

.attrType {
	float: left;
	padding-right: 5px;
}

.hier0 {
	padding-top: 5px;
	padding-left: 20px;
}

.hier1 {
	padding-top: 5px;
	padding-left: 40px;
}

.hier2 {
	padding-top: 5px;
	padding-left: 60px;
}

.hier3 {
	padding-top: 5px;
	padding-left: 80px;
}

.hier4 {
	padding-top: 5px;
	padding-left: 100px;
}

.hier5 {
	padding-top: 5px;
	padding-left: 120px;
}

.hier6 {
	padding-top: 5px;
	padding-left: 140px;
}

.derived {
	padding-bottom: 5px;
}








.schemaName {
	font-size: x-large;
	font-weight: bold;
	padding-bottom: 5px;
}

.description {
	text-align: justify;
	padding-bottom: 5px;
}

.controllerListTitle {
    padding-left: 30px;
    margin-right: 5px;
    float: left;
}

.controllerList {
	/* border-style: solid; */
	border-width: 1px;
}

.controllerListItem {
}
        
.controllerName {
	font-weight: bold;
}

.viewName {
	font-weight: bold;
}

.controllerDefinition {
	color: blue;
}

.datatype {
	color: blue;
}

.anotherItem {
	border-top-style: solid;
	border-color: #B2B2B2;
	border-width: 1px;
}

/* TABLE RELATED */

.line {
	border-top-style: solid;
	border-color: black;
	border-width: 1px;
}

.spacer {
	width: 20px;
}

.eventCategory {
	font-weight: bold;
}

.navigation {
	background-color: #E2E2E2;
	position: fixed;
	bottom: 0px;
	z-index: 5;
}

.navList {
	list-style-type: none;
	padding-left: 0px;
}

.navItem {
	padding-top: 5px;
}

.navLink {
	display: block;
}

.navItem {
	
}

/* Used for schema identifier summary */
.idSummary {
}

