body {
	/*font-family: arial, gil-sans, sans-serif;*/
	font-family: 	'Open Sans', arial, gil-sans, sans-serif;
	font-size: 		smaller;
	line-height: 	140%;
}

.center {
	width:			940px;
	margin: 0 auto;
}

/*****************************************************************************/

a:link {
	/* color: #9E0B0F; */
	color: #008CBA;
    text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}
	
a:active {
	text-decoration:underline;
}

/*****************************************************************************/

.moduleName {
	font-size: x-large;
	font-weight: bold;
	color: 			#008CBA;
	padding-top:	20px;
	padding-bottom: 20px;
}

.description {
	padding-left:	30px;
	
}

.divSeparator {
	border-color: 	#085A78;
	border-style:	solid;
	border-width:	1px;
	border-radius: 	5px;
	/* width:			860px; */
	height:			20px;
	margin-left:	30px;
	margin-top:		20px;
	margin-bottom:	20px;
	color:				#FFFFFF;
	background-color:	#085A78;
	padding-left: 5px;
}

/*****************************************************************************/

/*
 * The summaryDiv contains all summary information. It will contain summary
 * titles followed by summary items layed out in a table.
 */
/*.summaryDiv {
	padding-left:	30px;
}
*/
.summaryTitle {
	font-size: larger;
	/* font-weight: bold; */
	color: #646464;
	padding-bottom: 10px;
	padding-top: 15px;
	border-bottom-style: solid;
	border-bottom-color: #C4C4C4;
	border-bottom-width: 1px;
	margin-left: 30px;
}

.summaryTable {
	padding-top:	10px;
	padding-left: 	30px;
	padding-bottom:	10px;
}

.summaryItemName {
	padding-right:	5px;
}


/*****************************************************************************/

.hint {
	padding-left: 15px;
}

.version {
	padding-left: 15px;
}

.obsolete {
	padding-left: 	15px;
	color:			red;
}

.skip {
	padding-left: 	15px;
	color:			orange;
}



/*****************************************************************************/

.valueSection {
	margin-left:	30px;
}

.enumValue {
	padding-left: 15px;
}

/*****************************************************************************/

.descriptionSection {
	margin-left:	30px;
	padding-top:	5px;
	padding-bottom:	15px;
}

.attributeLabel {
	color: #000000;
	font-size: smaller;
	font-weight: bold;
	padding-right: 5px;
}

.messageSection {
	margin-left:	30px;
}

.fieldSection {
	margin-left:	30px;
}

.detailTitle {
	font-size: 				larger;
	color: 					#646464;
	padding-bottom: 		5px;
	padding-top: 			25px;
	padding-bottom: 		10px;
	border-bottom-style: 	solid;
	border-bottom-color: 	#C4C4C4;
	border-bottom-width:	1px;
	margin-left:			30px;
}

